@page "/admin"
@using Core.Model
@inject HttpClient httpClient
@inject IJSRuntime JS

<h1>Alle ansøgninger </h1>

@if (applications == null)
{
    <p><em>Loading...</em></p>
}
else if (!applications.Any())
{
    <p><em>No applications found.</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Kræv Nummer</th>
                <th>Forældre navn</th>
                <th>Mail</th>
                <th>Samtykke</th>
                <th>Barnets navn</th>
                <th>Alder</th>
                <th>Tøjstørrelse</th>
                <th>Interesser</th>
                <th>Fra</th>
                <th>Til</th>
                <th>Adresse</th>



            </tr>
        </thead>
        <tbody>
            @foreach (var ap in applications)
            {
                <tr>
                    <td>@ap.Parent.CrewNumber</td>
                    <td>@ap.Parent.Name</td>
                    <td>@ap.Parent.Mail</td>
                    <td>@ap.ConsentForm</td>
                    <td>@ap.Parent.Children[0].Name</td>
                    <td>@ap.Parent.Children[0].Age</td>
                    <td>@ap.Parent.Children[0].Interests</td>
                    <td>@ap.Parent.Children[0].ClothingSize</td>
                    <td>@ap.FirstPrio.From</td>
                    <td>@ap.FirstPrio.To</td>
                    <td>@ap.FirstPrio.Location</td>

                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Application> applications;

    private string serverURL = "https://localhost:7095/";

    protected override async Task OnInitializedAsync()
    {
        await LoadApplications();
    }

    public async Task LoadApplications()
    {
        applications = await httpClient.GetFromJsonAsync<List<Application>>($"{serverURL}api/aps/getall");
    }
}

