@page "/"
@using Core.Model
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime JS

<head>
    <link rel="stylesheet" href="css/styles.css" />
</head>

<h1 class="hovedtitel">Børneklub på Cirkus Summarum 2024</h1>

<div class="ansøg">
    <button id="knap" class="btn btn-primary" @onclick="() => addDialog.Open()">Send ansøgning for dit barn til Børneklubben</button>
</div>


<div class="afsnit" style="text-align:center">
    <p class="tekst">
        Har du allerede sendt en ansøgning? Tjek dens status ved at trykke på knappen nedenfor!
    </p>
</div>

<div style ="text-align:center">
<button class="btn btn-primary" @onclick=ToStatusPage>Tjek ansøgnings status</button>
</div>


<div class="afsnit">
    <p class="tekst">
        Cirkus Summarum er Muskelsvindfondens børnearrangement, hvor der hver dag er tilknyttet
        ca. 40 frivillige til at få hjulene til at køre rundt på den store legeplads foran cirkusteltet.
        Men vidste du, at Cirkus Summarum har en børneklub? Det vil sige. at, hvis du godt kunne
        tænke dig at være frivillig, men gerne skal have det til at gå op med familielivet, så kan du
        tage dine børn med som frivillig på Cirkus Summarum. Det fungerer på den måde, at dine
        børn bliver passet af andre frivillige i bagområdet (hvor vi har indrettet en børneklub), mens
        du er frivillig. Når arbejdsdagen er ovre eller inden den begynder, kan man bruge tiden
        sammen som familie på cirkuspladsen eller i den by, man nu er i.
    </p>
</div>

<div class="afsnit">
    <p class="tekst">
        Børneklubben bemandes af fire frivillige inklusiv en frivillig chef, som har ansvaret for børnene
        i løbet af dagen, herunder arrangere udflugter, sørge for børnene kan hjælpe til på
        cirkuspladsen mv. Der vil blive oprettet Facebook-grupper for alle børneklubsperioderne, hvor
        forældre og frivillige kan dele informationer med hinanden.
    </p>
</div>

<div class="afsnit">
    <h3 class="titel">For dig mellem 16-18 år gammel:</h3>
    <p class="tekst">
        Er du mellem 16 og 18 år og brænder for at gøre en forskel? Hos Cirkus Summarum værdsætter vi
        også den energi og entusiasme, som unge frivillige bringer til vores arrangement. Selvom du
        er for gammel til at deltage i vores børneklub, har du stadig muligheden for at være en vigtig
        del af vores team og opleve cirkuslivet bag kulisserne. Som frivillig i denne aldersgruppe vil
        du arbejde side om side med andre frivillige, hvor du vil hjælpe med at sikre, at alt går glat
        på og omkring cirkuspladsen. Det er en  fantastisk chance for at udvikle nye færdigheder, møde
        nye mennesker og bidrage til et festligt og inkluderende miljø.
    </p>

    <p class="tekst">
        For at sikre en tryg og ansvarlig deltagelse skal vi have en underskrevet
        tilladelse fra dine forældre eller værger. Denne formular bekræfter, at de er indforstået med
        din rolle som frivillig og de forpligtelser, det indebærer. Vi ser frem til
        at byde dig velkommen som en del af vores cirkusfamilie! Dit engagement som ung frivillig er
        ikke bare en hjælp til os – det er en essentiel del af magien ved Cirkus Summarum. Tilmeld dig
        i dag og gør klar til en uforglemmelig sommer, hvor du ikke bare er tilskuer, men en aktiv del
        af forestillingen!
    </p>
</div>

<button id="knap" class="btn btn-primary" @onclick="() => addYouthDialog.Open()">Send ansøgning for ung frivillig</button>



<div class="afsnit">
    <h3 class="titel">Hvornår:</h3>
    <p class="tekst">
        Børneklub er i ugerne; Ballerup: 27 og 28 og Aarhus i 30 og 31. Det vil sige, at man kan søge
        om en plads i følgende perioder:
    </p>
    <li>Uge 27, den 3. juli til 7. juli: Enten onsdag-fredag, lørdag til søndag eller hele ugen.</li>
    <li>Uge 27, den 3. juli til 7. juli: Enten onsdag-fredag, lørdag til søndag eller hele ugen.</li>
    <li>Uge 28, den 10. til 14. juli: Enten onsdag-fredag, lørdag til søndag eller hele ugen.</li>
    <li>Uge 30, den 24. til 26. juli: Onsdag-fredag (for minikræwer fra 13 og op)</li>
    <li>Uge 30 den 27. til 28. juli lørdag til søndag</li>
    <li>Uge 31 den 31. juli til 4. aug enten onsdag-fredag, lørdag til søndag eller hele ugen.</li>
</div>

<div class="afsnit">
    <h3 class="titel">Hvad kan du forvente:</h3>
    <p class="tekst">
        Til jer, som ansøger om en hel uge, vil vores udgangspunkt være, at I får plads en uge –
        i stedet for 2-3 dage. Vi håber, men kan ikke garantere, at dette giver plads til alle.
        Hvad kan du forvente:
    </p>

    <li>Du bliver en del af en skøn og hyggelig cirkus familie og det bliver dine børn også, hvor der er masser af leg og hyggeligt samvær.</li>
    <li>Du er sammen med dine børn om morgenen inden din vagt starter og igen når du har fri om aftenen – ligesom i det offentlige 😊</li>
    <li>Mødetiderne er som udgangspunkt: onsdage, torsdage og fredage kl. 07:30/11:30 – 18:30. Lørdage og søndage kl. 7:30 – 18:30</li>
    <li>Vi gør derfor opmærksom på, at nogle af dagene er nogle lange arbejdsdage og det kan være lange dage og mange timer væk fra forældre.</li>
</div>

<div class="afsnit">
    <h3 class="titel">Ansøgningsprocedure:</h3>
    <p class="tekst">
        Igen i år bliver det en ansøgningsprocedure. På den måde håber vi at kunne optimere
        oplevelsen for jer som familier, da vi bedre kan tage højde for børnenes
        gruppesammensætning.
        Vi vil rigtig gerne prioritere, at der er plads til nye familier hvert år. Disse hører vi ofte først fra
        i løbet af foråret. Derfor er der til at starte med ca. 15 pladser i hver periode af dem i ser
        ovenfor. Jeg gemmer derudover fem pladser til nye, som altid kontakter os i løbet af foråret.
        Får man ikke plads, eller kender nogen nye/som gamle, der gerne vil med i løbet af foråret, så
        kan der sendes ansøgninger til mig løbende. Alle der ansøgte indenfor fristen, fik plads sidste
        år, så det kommer formentlig bare til at betyde, at vi får fem ekstra børn med i alle
        perioderne.
    </p>
</div>

<div class="afsnit">
    <h3 class="titel">Ansøgningen skal indeholde:</h3>
    <p class="tekst">
        <li>Barnets/børnenes fulde navn og alder</li>
        <li>Forældrenes fulde navn (begge hvis de deltager som frivillig) og kræwnummer</li>
        <li> Information om børnene: Hvad de synes er sjovt, hvad der gør dem glade, etc.</li>
        <li> Trivselsinformation/særlige hensyn: Tager barnet medicin, har allergier, en diagnose, er sengevæder eller bøvler med et eller andet? (NB. Disse informationer vil ALDRIG blive brugt til at sortere børn fra. Tværtimod vil vi gerne prøve at danne gruppesammensætningen, så de børn der kæmper med nogle ting, får en god oplevelse).</li>
        <li> Hvilken periode søger I om en/flere pladser? (Her må I gerne skrive både en første og en anden prioritet på.)</li>
        <li> Pdf fil med underskrevet kontrakt af forældre der giver tilladelse til at barnet kan opholde sig i Børneklubben. Kontrakt skabelon kan findes <a href="https://form.jotform.com/241272000823038" target="_blank">her</a> </li>
    </p>
</div>

<div class="afsnit">
    <h3 class="titel">Her er reglerne for medlemskab i børneklubben:</h3>

    <li>Barnet skal være fyldt fem år og være blefri/renlig</li>
    <li>Man må kun have sine egne børn med i børneklubben</li>
    <li>Max to børn pr. voksen frivillig</li>
    <li>Man må max have fem dage i børneklubben (en cirkusuge)</li>
</div>

<div class="afsnit">
    <h3 class="titel">Tilbagemelding og svar:</h3>

    <p class="tekst">
        Svar kommer omkring d. 29. februar.
        Der ville være mulighed for at komme på venteliste, hvis nogle i løbet af foråret skulle falde fra
    </p>
</div>

<div id="notification" class="notification">@submissionMessage</div>


<ModalDialog @ref="@addDialog" Title="Send ansøgning for dit barn til Børneklubben">

    <EditForm EditContext="createEditContext" OnValidSubmit="@SaveApplication" class="container mt-3">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <!-- Volunteer Information -->
        <div class="card mb-3">
            <div class="card-header">
                <h4>Forældres Information</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="VolunteerName">Forældres Navn</label>
                        <InputText id="VolunteerName" @bind-Value="application.ParentVolunteer.Name" class="form-control" />
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="VolunteerEmail">Forældres Email</label>
                        <InputText id="VolunteerEmail" @bind-Value="application.ParentVolunteer.Mail" class="form-control" />
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="VolunteerEmail">Forældres Telefonnummer</label>
                        <InputText id="VolunteerEmail" @bind-Value="application.ParentVolunteer.Phone" class="form-control" />
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="VolunteerCrewNumber">Forældres Kræw Nummer</label>
                        <InputNumber id="VolunteerCrewNumber" @bind-Value="application.ParentVolunteer.CrewNumber" class="form-control" />
                    </div>
                </div>
            </div>
        </div>

        <!-- Child Information -->
        <div class="card mb-3">
            <div class="card-header">
                <h4>Barns Information</h4>
            </div>
            <div class="card-body">
                @foreach (var child in application.ParentVolunteer.Children)
                {
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label>Barnet's Navn</label>
                            <InputText @bind-Value="child.Name" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <label>Barnet's Alder</label>
                            <InputNumber @bind-Value="child.Age" class="form-control" min="5" max="18" />
                        </div>
                        <div class="col-md-6">
                            <label>Barnet's T-Shirt Størrelse</label>
                            <InputSelect @bind-Value="child.ClothingSize" class="form-control">
                                <option value="">Vælg Størrelse</option>
                                <option value="96-108">96-108</option>
                                <option value="110-116">110-116</option>
                                <option value="116-122">116-122</option>
                                <option value="122-128">122-128</option>
                                <option value="128-134">128-134</option>
                                <option value="134-142">134-142</option>
                                <option value="142-152">142-152</option>
                                <option value="152-164">152-164</option>
                            </InputSelect>
                        </div>
                        <div class="col-md-6">
                            <label>Barnet's Interesser</label>
                            <InputTextArea @bind-Value="child.Interests" class="form-control" />
                        </div>
                        <div class="col-md-12 text-end mt-2">
                            <button type="button" class="btn btn-outline-danger btn-sm" @onclick="() => RemoveChild(child)">Fjern Barn</button>
                        </div>
                    </div>
                }
                @if (application.ParentVolunteer.Children.Count < 2)
                {
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary" @onclick="AddChild">Tilføj Barn</button>
                        </div>
                    </div>
                }
            </div>
        </div>

        <!-- Application Information -->
        <div class="card mb-3">
            <div class="card-header">
                <h4>Ansøgnings Information</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="comment">Kommentar</label>
                        <InputText id="comment" @bind-Value="application.Comment" class="form-control" placeholder="Sundhed/mad(allergier)" />
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="beenBefore">Har du været med før?</label>
                        <InputCheckbox id="beenBefore" @bind-Value="application.BeenBefore" class="form-check-input" />
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstPrioEvent">Første Prioritet</label>
                        <InputSelect id="firstPrioEvent" @bind-Value="application.FirstPrio.EventId" class="form-control">
                            <option value="">Vælg Dato</option>
                            @foreach (var e in events)
                            {
                                <option value="@e.EventId"  disabled="@(application.SecondPrio.EventId == e.EventId)">@e.Location, @e.From - @e.To (Uge @e.Week)</option>
                            }
                        </InputSelect>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="secondPrioEvent">Anden Prioritet</label>
                        <InputSelect id="secondPrioEvent" @bind-Value="application.SecondPrio.EventId" class="form-control">
                            <option value="">Vælg Dato</option>
                            @foreach (var e in events)
                            {
                                <option value="@e.EventId" disabled="@(application.FirstPrio.EventId == e.EventId)">@e.Location, @e.From - @e.To (Uge @e.Week)</option>
                            }
                        </InputSelect>
                    </div>
                </div>
            </div>
            <!-- Signature -->
            <div class="card-body">
                <p>Jeg tillader at mit barn må opholde sig i Børneklubben på valgte perioder<br />
                <a href="https://cirkussummarum.dk/om-cirkus-summarum/politikker/?fbclid=IwAR2BVCuBm5SEeiTHfkOJ_BCp-TA7l3dKnv9CRu-niRV-9JO9YHz3k0xUm1o" target="_blank">Læs mere om vores politik her</a>
                </p>
                <canvas id="signature-pad" width="400" height="200" style="border:1px solid #000000;"></canvas>
                <button type="button" class="btn btn-secondary mt-2" @onclick="ClearSignature">Clear</button>
            </div>
        </div>

        <div class="card-body">
            <InputCheckbox @bind-Value="userConsent" class="form-check-input" />
            <label for="userConsent" class="form-check-label">
                Jeg er indforstået med, at de datoer jeg tilmelder mine børn til børneklubben, er de dage jeg selv arbejder som frivillig.
            </label>
        </div>

        <!-- Submit Button -->
        <div class="row">
            <div class="col-12 text-center">
                @if (!string.IsNullOrEmpty(submissionMessage))
                {
                    <div class="alert @(isSubmissionSuccessful ? "alert-success" : "alert-danger")">
                        @submissionMessage
                    </div>
                }
                <button type="submit" class="btn btn-primary" disabled="@(!userConsent)">Indsend Ansøgning</button>
            </div>
        </div>
    </EditForm>

</ModalDialog>

<ModalDialog @ref="addYouthDialog" Title="Send ansøgning for ung frivillig">
    <EditForm EditContext="createYouthEditContext" OnValidSubmit="SaveYouthApplication" class="container mt-3">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <!-- Youth Volunteer Information -->
        <div class="card mb-3">
            <div class="card-header">
                <h4>Ung Frivillig Information</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="YouthName">Ung Frivilligs Navn</label>
                        <InputText id="YouthName" @bind-Value="youthVolunteer.Name" class="form-control" />
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="YouthEmail">Ung Frivilligs Email</label>
                        <InputText id="YouthEmail" @bind-Value="youthVolunteer.Mail" class="form-control" />
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="VolunteerEmail">Forældres Telefonnummer</label>
                        <InputText id="VolunteerEmail" @bind-Value="youthVolunteer.Phone" class="form-control" />
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="YouthCrewNumber">Ung Frivilligs Kræw Nummer</label>
                        <InputNumber id="YouthCrewNumber" @bind-Value="youthVolunteer.CrewNumber" class="form-control" />
                    </div>
                    
                    <div class="col-md-6 mb-3">
                        <label for="ParentName">Forældres Navn</label>
                        <InputText id="ParentName" @bind-Value="youthVolunteer.ParentName" class="form-control" />
                    </div>
                </div>
            </div>
            <!-- Signature -->
            <div class="card-body">
                <h3>Signature</h3>
                <canvas id="youth-signature-pad" width="400" height="200" style="border:1px solid #000000;"></canvas>
                <button type="button" class="btn btn-secondary mt-2" @onclick="ClearYouthSignature">Clear</button>
            </div>
        </div>

        <!-- Submit Button -->
        <div class="row">
            <div class="col-12 text-center">
                @if (!string.IsNullOrEmpty(submissionMessage))
                {
                    <div class="alert @(isSubmissionSuccessful ? "alert-success" : "alert-danger")">
                        @submissionMessage
                    </div>
                }
                <button type="submit" class="btn btn-primary">Indsend Ansøgning</button>
            </div>
        </div>
    </EditForm>
</ModalDialog>

@code {
    private ModalDialog? addDialog { get; set; }
    private ModalDialog? addYouthDialog { get; set; }
    private Application application = new Application() { ParentVolunteer = new ParentVolunteer() };
    private YouthVolunteer youthVolunteer = new YouthVolunteer();
    private List<Event> events = new List<Event>();
    private EditContext? createEditContext;
    private EditContext? createYouthEditContext;
    private string submissionMessage = "";  // To store the message for the user
    private bool isSubmissionSuccessful = false;  // To track if the submission was successful
    private bool userConsent = false;  // To track if the user has checked the consent box

    protected override async Task OnInitializedAsync()
    {
        createEditContext = new EditContext(application);
        createYouthEditContext = new EditContext(youthVolunteer);
        events = await Http.GetFromJsonAsync<List<Event>>("https://localhost:7095/api/registration/getallevents");

        // Ensure there's always one child ready to be filled out
        if (application.ParentVolunteer.Children.Count == 0)
        {
            application.ParentVolunteer.Children.Add(new Child());
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Initialize signature pads
            await JS.InvokeVoidAsync("initializeSignaturePad", "signature-pad");
            await JS.InvokeVoidAsync("initializeSignaturePad", "youth-signature-pad");
        }
    }

    private void AddChild()
    {
        if (application.ParentVolunteer.Children.Count < 2)
        {
            application.ParentVolunteer.Children.Add(new Child());
        }
    }

    private void RemoveChild(Child child)
    {
        application.ParentVolunteer.Children.Remove(child);
    }

    private async Task SaveApplication()
    {
        if (!userConsent)
        {
            submissionMessage = "Du skal acceptere vilkårene for at fortsætte.";
            isSubmissionSuccessful = false;
            return;
        }

        // Map selected EventIds to actual Event objects
        application.FirstPrio = events.FirstOrDefault(e => e.EventId == application.FirstPrio.EventId);
        application.SecondPrio = events.FirstOrDefault(e => e.EventId == application.SecondPrio.EventId);

        // Get signature data URL
        var signatureDataUrl = await JS.InvokeAsync<string>("getSignatureDataUrl", "signature-pad");
        application.ConsentForm = signatureDataUrl;

        var response = await Http.PostAsJsonAsync("https://localhost:7095/api/registration/register", application);
        if (response.IsSuccessStatusCode)
        {
            submissionMessage = "Ansøgning indsendt med succes!";
            isSubmissionSuccessful = true;
            addDialog?.Close();
            await JS.InvokeVoidAsync("showNotification", "Ansøgning indsendt med succes!");
        }
        else
        {
            var errorMessage = await response.Content.ReadAsStringAsync();
            submissionMessage = $"Failed to submit application: {errorMessage}";
            isSubmissionSuccessful = false;
            await JS.InvokeVoidAsync("showNotification", "Kunne ikke indsende ansøgning: " + errorMessage);
        }
    }



    private async Task ClearSignature()
    {
        await JS.InvokeVoidAsync("clearSignaturePad", "signature-pad");
    }

    private async Task ClearYouthSignature()
    {
        await JS.InvokeVoidAsync("clearSignaturePad", "youth-signature-pad");
    }

    private async Task SaveYouthApplication()
    {
        // Get youth signature data URL
        var youthSignatureDataUrl = await JS.InvokeAsync<string>("getSignatureDataUrl", "youth-signature-pad");
        youthVolunteer.ConsentForm = youthSignatureDataUrl;

        var response = await Http.PostAsJsonAsync("https://localhost:7095/api/registration/registerYouthVolunteer", youthVolunteer);
        if (response.IsSuccessStatusCode)
        {
            submissionMessage = "Underskrift indsendt med succes!";
            isSubmissionSuccessful = true;
            addYouthDialog?.Close();
            await JS.InvokeVoidAsync("showNotification", "Ansøgning indsendt med succes!");
        }
        else
        {
            var errorMessage = await response.Content.ReadAsStringAsync();
            submissionMessage = "Failed to submit youth application. Please try again.";
            isSubmissionSuccessful = false;
            
        }
    }

    private async Task Login()
    {
        NavigationManager.NavigateTo("/login", forceLoad: true);
    }

    private async Task ToStatusPage()
    {
        NavigationManager.NavigateTo("/status", forceLoad: true);
    }
}